
/* Footer */
.footer {
    background-color:#000915 ;
    color: azure;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    height: 350px;
    font-size: 12px;
    padding: 50px;
    margin-top: 500px;
    margin-bottom: 0;
  }
  .CopyRight{
    margin-top: 40px;
    text-align: center;
  }
  .Footerlogo{
    
    width: auto;
    height: 150px;
  }
  .FooterlogoTitle{
    text-align: end;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 50%;
    }
  
    .FooterDetails{
      text-align: end;
    }
    .CopyRightDiv{
      font-size: 14;
      background-color: #021022bc;
      
    }